<table class="{{ tableClasses|default('list table table-striped table-hover table-bordered') }}">
    {% block gridRowsHeader %}
        <thead>
        <tr id="trfirst">
            {{ include('TaoSistemasAjaxGridBundle:Grid:columns.html.twig') }}
        </tr>
        </thead>
    {% endblock gridRowsHeader %}
    {% block gridRows %}
        <tbody>
        <tr>
            <td></td>
        </tr>
        </tbody>
    {% endblock gridRows %}
</table>
